body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: 0.3s;
}
a:hover {
  color: #939393;
  cursor: pointer;
}

.centered {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}

.progressSection {
  height: auto;
  width: 250px;
  float: right;
  border: 1px #737373 solid;
  padding: 8px;
  background-color: white;
  margin-top: -80px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.progressRow {
  width: 100%;
  margin: 2px;
}

.progressButton {
  border: none;
  background-color: #dddddd;
  border-radius: 15px;
  padding: 5px;
  transition: 0.3s;
}

.progressButton:hover {
  cursor: pointer;
  background-color: #a8a8a8;
}

[type="file"] {
  color: #878787;
}
[type="file"]::-webkit-file-upload-button {
  background: #dddddd;
  border: 2px solid #dddddd;
  border-radius: 15px;
  color: black;
  cursor: pointer;
  outline: none;
  padding: 5px 15px;
  transition: all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 2px solid #535353;
  color: #000;
}