.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: 0.3s;
}
a:hover {
  color: #939393;
  cursor: pointer;
}

.centered {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}

.progressSection {
  height: auto;
  width: 250px;
  float: right;
  border: 1px #737373 solid;
  padding: 8px;
  background-color: white;
  margin-top: -80px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.progressRow {
  width: 100%;
  margin: 2px;
}

.progressButton {
  border: none;
  background-color: #dddddd;
  border-radius: 15px;
  padding: 5px;
  transition: 0.3s;
}

.progressButton:hover {
  cursor: pointer;
  background-color: #a8a8a8;
}

[type="file"] {
  color: #878787;
}
[type="file"]::-webkit-file-upload-button {
  background: #dddddd;
  border: 2px solid #dddddd;
  border-radius: 15px;
  color: black;
  cursor: pointer;
  outline: none;
  padding: 5px 15px;
  transition: all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 2px solid #535353;
  color: #000;
}

.flagsContainer {

}

.submitFlag__button, .clearTask__button {
  border: none;
  background-color: #dddddd;
  border-radius: 15px;
  padding: 5px 15px;
  transition: 0.3s;
  margin: 5px;
}

.submitFlag__button:hover, .clearTask__button:hover {
  cursor: pointer;
  background-color: #a8a8a8;
}

.clearTask__button {
  float: right;
}

.flag__input {
  border: none;
  padding: 5px;
  margin: 5px;
}

.flag__input:focus {
  outline: none;
}